@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function() {
        $("table > tbody tr:odd").css("background-color", "#F7F7F7");
    });
</script>
<div class="jumbotron">
    <h1>Today Prayer</h1>
</div>
<div class="row">
    <div class="bg-TodaysVerse">
        <div>
            <h1>Today's Verse</h1>
        </div>
        <div>
            @Html.Raw(ViewBag.TodaysVerse)
        </div>
    </div>
    <div class="bg-TodaysCatechsim">
        <h2>Today's Westminster Catechism Q/A</h2>
        <div>
            @ViewBag.TodaysCatechismNumber. @ViewBag.TodaysCatechismQuestion<br />
            @ViewBag.TodaysCatechismAnswer
        </div>
    </div>
    <h2>Memory Verses</h2>
    <table class="table table-striped">
        @foreach (var verse in ViewBag.CurrentVerses)
        {
            <tr>
                <td><label>@verse.Reference</label></td>
                <td>@verse.Text</td>
            </tr>
        }
    </table>
    <h2>Today's Prayer Requests</h2>
    <table class="table table-striped">
        @foreach (var prayer in ViewBag.TodaysPrayerRequests)
        {
            <tr>
                <td><label>@prayer.Category</label></td>
                <td>@prayer.Request</td>
            </tr>
        }
    </table>
    <div class="bg-TodaysPsalm">
        <div>
            <h1>Today's Psalm</h1>
        </div>
        <div>
            @Html.Raw(ViewBag.TodaysPsalm)
        </div>
    </div>
</div>
